* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: inherit;
}

body {
    background-color: #fafafa;
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;        
}

footer {
    background-color: #fafafa;
    width: 50%;
    max-height: vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8e8e8e;   
}

#container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;    
}

#container-externo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 50%;
    margin: 0;
}

#container-externo .imgcelular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 570px;
}

#dados-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgray ;
    background-color: #ffffff;
    height: 330px;
    width: 340px;       
}

.img-perfil img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    overflow: hidden;
}

.operacao-usuario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

#login{
    background-color: #0095f6;
    color: white ;
    border-radius: 5px;
    padding: 8px 8px;
    margin-bottom: 7px;
}

p #column{
    flex-direction: column;
    background-color: #0095f6;
    border: 3px solid black;
}

.blue-text{
    color: #0095f6;
}

#rodape{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;    
    flex-direction: column;
}
#rodape .subitem{    
    align-items: center;
    justify-content: center;    
    margin-bottom: 7px;
    color: #8e8e8e; 
      
}

#rodape .subitem a{
    margin: 0px 4px;
}

.autor{
    font-weight: bolder;
    color: black;    
}